*.nds
*.pyc

ppmd_statsutil.*
*.xml

filecopilpythonfilecomforextract.bin

*temp.*
*temp/

ran/rom/
ran/portraits/
ran/porrandom/
ran/m_go/
ran/romus/
ran/out_bgm
ran/clean.bat
log.txt





*notindex.*
*notindex/
ran/license.txt
ran/pmd-random.dsv
ran/pmd-random.dsv
test